PORT=8000
MONGO_URI=MONGO_URI=mongodb+srv://Christina:h2231371@cluster0.hwavbw1.mongodb.net/shopNest?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_jhuftdgh

EMAIL_USER = gmail@gmail.com
EMAIL_PASS = 16digitpassword

CLOUDINARY_CLOUD_NAME =signup_data
CLOUDINARY_API_KEY =signup_data
CLOUDINARY_API_SECRET =signup_data

RAZORPAY_KEY_ID = signup_data
RAZORPAY_KEY_SECRET = signup_data
